.login-wrapper {
  position: relative;
  background-color: #E45429;
  border-radius: 20px;
  padding: 60px 40px;
  max-width: 600px;
  width: 90%;
  margin: 60px auto;
  overflow: hidden;
}

.login-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  pointer-events: none;
}

.login-wrapper > * {
  position: relative;
  z-index: 1;
}


.inquiry-logo {
  display: block;
  margin: 0 auto 10px;
}

.login-wrapper h1 {
  text-align: center;
  color: white;
  font-size: 32px;
  margin-bottom: 40px;
}

.form-field {
  text-align: center;
  margin-bottom: 20px;
}

.form-field label {
  display: block;
  color: white;
  font-size: 18px;
  margin-bottom: 8px;
}

.form-field input[type="email"],
.form-field input[type="password"] {
  width: 80%;
  max-width: 400px;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box;
}

.field_with_errors {
  display: block;
  margin: 0 auto 10px;
  color: #fff;
  font-size: 14px;
  text-align: center;
}


.checkbox-field {
  text-align: center;
  color: white;
}

.form-field input[type="submit"] {
  background-color: white;
  color: #E45429;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 12px 30px;
  font-size: 16px;
  cursor: pointer;
}

/* devise/shared/links の中の a 要素をカスタマイズ */
.devise-links {
  text-align: center;
  margin-top: 20px;
}

.devise-links a {
  color: white; /* 色を白く */
  text-decoration: none;
  font-size: 16px;
  font-family: "Kiwi Maru", serif;
  display: inline-block;
  margin: 5px 10px;
}

.devise-links a:hover {
  text-decoration: underline;
}

/* トップページ戻るリンク */
.btn-primary {
  display: block;
  text-align: center;
  margin-top: 30px;
  color: #E45429;
  font-weight: bold;
  text-decoration: none;
  font-family: "Kiwi Maru", serif;
  margin-bottom: 50px;
}