.header-logo {
  background-color: #E45429;
  height: 80px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.logo-wrapper img {
  display: block;
}


.product-show {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 100px;
  gap: 0;
}


.product-image {
  display: inline-block;          /* または inline-flex */
  width: fit-content;            /* 中の画像のサイズに合わせる */    
  margin-left: 250px;
}


.product-image img {
  width: 450px;
  height: auto;
  object-fit: cover;
}

.product-info {
  margin-top: 10px;
  width: 800px;
  font-family: "Shippori Mincho B1", serif;
  color: #333;
  text-align: center;          /* テキストを中央に */
  display: flex;               /* 子要素を縦に並べて中央寄せするため */
  flex-direction: column;
  align-items: center;         /* ボタンなども中央揃え */
  justify-content: center;     /* 必要なら縦方向も中央に */
  padding: 20px;
}

.product-info h2 {
  font-size: 48px;
  margin-bottom: 0;
}


.product-info p {
  font-size: 18px;
  margin-bottom: 0;
  line-height: 1.5;
}

.product-info h2,
.product-info p {
  margin: 5px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 48px;
  color: #333;
}

.product-buttons {
  display: flex;
  gap: 12px;
  margin: 25px;
}

.btn-cart,
.btn-buy {
  padding: 10px 60px;
  max-width: 120px;
  border: none;
  border-radius: 4px;
  font-family: "Kiwi Maru", serif;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}

.btn-cart {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
}

.btn-buy {
  background-color: #E45429;
  color: #fff;
  padding: 10px 100px;
}

.noriko-wrapper {
  position: absolute;
  top: 450px;
  left: 700px;
  z-index: 10;
}

.noriko-sway {
  width: 250px; /* 好きなサイズに調整 */
  animation: sway 2s ease-in-out infinite;
  transform-origin: bottom center;
}

@keyframes sway {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(3deg); }
  50%  { transform: rotate(0deg); }
  75%  { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}




.back-link {
  display: block;
  margin-top: 30px;
  text-align: center;
  color: #E45429;
  text-decoration: none;
}

.footer-brand {
  background-color: #E45429; 
  color: #FFFCF5;           
  text-align: center;
  padding: 8px 0;
  font-size: 18px;
  font-weight: bold;
  font-family: "Kiwi Maru", serif;
  letter-spacing: 4.5px;
  margin-top: 150px;
}
